<body style="text-align: center; margin-top:10vh;">
    <h1>404</h1>
    <img src="http://beedogs.com/index_files/image016.jpg">
    <p>Uh, oh! Aster does not understand your request.<p>
    <a href='/'>Let's go home!</a>
<body>
