<% if(typeof alerts !== 'undefined'){ %>
    <% for(key in alerts){ %>
        <% alerts[key].forEach(function(thisMsg){ %>
            <div class="alert alert-<%= key %>"><%= thisMsg %></div>
        <% }); %>
    <% } %>
<% } %>
