<% include /header %>

<div class="page-header col-md-12 col-centered text-center">
    <a href="/"><button type="button" class="btn btn-default" name="shuffle" href="#shuffle">Shuffle</button></a>
    <a href="/settings"><button type="button" class="btn btn-default" href="#">Settings</button></a>
</div>

<div class="row" id="allCards">
    <% for (var i = 0; i < deckchoice.length; i++) { %>
        <% if (deckchoice.length != 0) {%>
            <img src="https://s3-us-west-2.amazonaws.com/dominiongirl/card_images/<%= deckchoice[i].name.replace(/[\s-']/g,'').toLowerCase() %>.jpg" class="flipInX animated col-md-2" id="card-display">
        <% } %>
    <% } %>
</div>
