<% include /header %>

<div class="row">
    <% for (var i = 0; i < deckchoice.length; i++) { %>
        <% if (deckchoice.length != 0) {%>
            <img src="/card_images/<%= deckchoice[i].name.replace(/ /g,'').replace(/'/g,'').toLowerCase() %>.jpg" class="col-md-2" id="card-display">
        <% } %>
    <% } %>
</div>
    <div class="row"></div>
</div>



<% include /footer %>
