<% include /header %>

<div class="container container-fluid">
    <div class="row">
    <% for (var i = 0; i < 18; i++) { %>
        <% if (data.length != 0) {%>
            <div>
                <img src="<%= data[i].images.standard_resolution.url %>" id='igPhotos' class="col-md-4">
            </div>
        <% } %>
        <% } %>
        </div>
 </div>
<div id="beeHive">
    <a href="http://beedogs.com/index_files/page0008.htm" id="moarBees">Would you believe me if I told you there were even more beedogs?</a>
</div>


<% include /footer %>
